{% extends 'core/base.html' %} 

{% block topbar %}
<!-- Topbar -->
<nav
   class="navbar navbar-light mb-0"
></nav>
{% endblock %} 

{% block content %}
<h1>GRÁFICOS</h1>
<a href="{% url 'prf' projecto %}">Requerimientos funcionales</a>
<br>
<a href="{% url 'prnf' projecto %}">Requerimientos no funcionales</a>
<br>
<img src="data:image/png;base64,{{ data }}" alt="" height="500", width=500>
<br>

<a href="{% url 'project' projecto %}">Volver</a>

<br>
<a href="{% url 'welcome' %}">Inicio</a>
{% endblock %} 