{% extends 'core/base.html' %}
{% block topbar %}
<!-- Topbar -->
<nav class="navbar navbar-light mb-0"></nav>
{% endblock %} {% block content %}

{% if specifications %}
<div class="col-xl-10 mx-auto">
  <div class="card border-bottom-primary py-3">
    <h6 class="text-lg font-weight-bold text-primary text-lg-center">Especificación de requerimientos del sistema &nbsp;&nbsp; <i class="fas fa-compress-arrows-alt fa-2x text-gray-600"></i>
    </h6>
  </div>
</div>
{% endif %}
<br><br>
{% for specification in specifications %}

<div class="card shadow mb-4">
  <div class="card-header py-3">
  <h6 class="m-0 font-weight-bold text-primary">{{specification.title}} : {{specification.description}}</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
<thead>
<tr>
<th>Prioridad</th>
<th>Estado</th>
<th>Costo</th>
<th>Comentarios</th>
</tr>
</thead>
<tbody>
<tr>
<td>{{specification.priority}}</td>
<td>{{specification.state}}</td>
<td>{{specification.cost}}</td>
<td>{{specification.comments}}</td>
</tr>
</tbody>
</table>
</div>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
<tr>
<td><b><label>Entrada</b></label></td>
<td>{{specification.input}}</td>
</tr>
<tr>
<td><label><b>Fuente</b></label></td>
<td>{{specification.source}}</td>
</tr>
<tr>
<td><label><b>Salida</b></label></td>
<td>{{specification.output}}</td>
</tr>
<tr>
<td><label><b>Destino</b></label></td>
<td>{{specification.destiny}}</td>
</tr>
<tr>
<td><label><b>Proceso</b></label></td>
<td>{{specification.process}}</td>
</tr>
<tr>
<td><label><b>Restricciones</b></label></td>
<td>{{specification.restriction}}</td>
</tr>
<tr>
<td><label><b>Daño colateral</b></label></td>
<td>{{specification.collateral_damage}}</td>
</tr>
<tr>
<td><label><b>Documentos asociados</b></label></td>
<td>
{% for feed in feeds %}
<a href="/media/{{ feed.file }}" download >{{ feed.file }}</a></td>

{% empty %}

{% endfor%}
</tr>
</table>
</div></div>
<div class="card-body">
<a href="{% url 'sfrs' specification.project.id %}" class="btn btn-light btn-icon-split"><span class="icon text-gray-600"><i class="fas fa-arrow-left"></i></span><span class="text">Volver</a></span></div>
{% endfor %}

{% endblock %}