{% extends 'core/base.html' %}
{% block topbar %}
<!-- Topbar -->
<nav class="navbar navbar-light mb-0"></nav>
{% endblock %} {% block content %}
<div class="col-xl-10 mx-auto">
  <div class="card border-bottom-primary py-3">
    <h6 class="text-lg font-weight-bold text-primary text-lg-center">Especificación de requerimiento no funcional &nbsp;&nbsp; <i class="far fa-hand-point-down fa-2x text-gray-600"></i>
    </h6>
  </div>
</div> <br>
{% for requeriment in requeriments %}
<div class="card shadow mb-4">
  <div class="card-header py-3">
  <h6 class="m-0 font-weight-bold text-primary">{{requeriment.title}} : {{requeriment.description}}</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
<thead>
<tr>
<th>Prioridad</th>
<th>Estado</th>
<th>Costo</th>
<th>Tipo de requerimiento</th>
<th>Comentarios</th>
</tr>
</thead>
<tbody>
<tr>
<td>{{requeriment.priority}}</td>
<td>{{requeriment.state}}</td>
<td>{{requeriment.cost}}</td>
<td>{{requeriment.type_r}}</td>
<td>{{requeriment.comments}}</td>
</tr>
</tbody>
</table>
<form action="" method="POST" enctype="multipart/form-data">
 {% csrf_token %}
<div class="card-body">
  <div class="row no-gutters align-items-center">
    <div class="col mr-0">

<div class="h6 mb-0 font-weight-bold text-gray-800">Subtipo de requerimiento no funcional:{{form.sub_type}} </div><br>
<div class="h6 mb-0 font-weight-bold text-gray-800">Archivos {{feed_form.file}}</div><br>

<button type="submit" class="btn btn-success btn-icon-split"><span class="icon text-white-50">
<i class="fas fa-check"></i></span><span class="text">Guardar</span></button>
</form>

<a href="{% url 'snfrs' requeriment.project.id %}" class="btn btn-light btn-icon-split"><span class="icon text-gray-600"><i class="fas fa-arrow-left"></i></span>
<span class="text">Volver</span></a>
</div></div></div></div></div></div>

{% endfor %}
{% endblock %}