{% extends 'core/base.html' %}
{% block topbar %}
<!-- Topbar -->
<nav class="navbar navbar-light mb-0"></nav>
{% endblock %} {% block content %}
<div class="col-xl-10 mx-auto">
  <div class="card border-bottom-primary py-3">
    <h6 class="text-lg font-weight-bold text-primary text-lg-center">Especificación de requerimientos no funcionales del sistema &nbsp;&nbsp; <i class="fas fa-compress-arrows-alt fa-2x text-gray-600"></i>
    </h6>
  </div>
</div>

{% if projects %}
<br>
{% endif %}

{% for requeriment in requeriments %}
<div class="card shadow mb-4">
  <div class="card-header py-3">
  <h6 class="m-0 font-weight-bold text-primary">{{requeriment.title}} : {{requeriment.description}}</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
<thead>
<tr>
<th>Prioridad</th>
<th>Estado</th>
<th>Costo</th>
<th>Tipo de requerimiento</th>
<th>Comentarios</th>
</tr>
</thead>
<tbody>
<tr>
<td>{{requeriment.priority}}</td>
<td>{{requeriment.state}}</td>
<td>{{requeriment.cost}}</td>
<td>{{requeriment.type_r}}</td>
<td>{{requeriment.comments}}</td>
</tr>
</tbody>
</table>
<div class="col-lg-4 mx-auto">
<a href="{% url 'snfr' requeriment.id %}" class="btn btn-warning btn-icon-split"><span class="icon text-gray-100"><i class="fas fa-external-link-alt"></i></span><span class="text">Especificar requerimiento</span></a></div>
</div></div></div>

{% empty %}
<div class="col-xl-7 mx-auto">
<div class="card">
<div class="card-body py-0">
<span class="font-weight-bold text-warning"><p class="text-center">Todos los requerimientos no funcionales han sido especificados</p></span>
</div></div><hr class="sidebar-divider"></div>
{% endfor %}

{% if specifications %}

{% endif %}

{% for specification in specifications %}
<div class="col-xl-7 mx-auto">
<div class="card shadow mb-1">
    <div class="card-body py-2">
    <h6 class="m-0 font-weight-bold text-gray">{{specification.title}}</h6>
    <hr>
    <a href="{% url 'fnfr' specification.rnf.id %}" class="btn btn-primary btn-icon-split"><span class="icon text-gray-100">
        <i class="fas fa-eye"></i>
    </span>
    <span class="text">Ver</span></a>
    </div></div></div>

{% empty %}
<div class="col-xl-7 mx-auto">
<div class="card">
<div class="card-body py-0">
<span class="font-weight-bold text-warning"><p class="text-center">Aún no se ha especificado ningún requerimiento</p></span>
</div></div><hr class="sidebar-divider"></div>
{% endfor %}

{% for user in users %}
<div class="col-xl-7 mx-auto">
<div class="card-body">
<a href="{% url 'no_functional_requeriments' user.project.id %}" class="btn btn-light btn-icon-split"><span class="icon text-gray-600"><i class="fas fa-arrow-left"></i></span><span class="text">Volver</span></a></span></div></div>
{% endfor %}

{% endblock %}