{% extends 'core/base.html' %}
{% block topbar %}
<!-- Topbar -->
<nav class="navbar navbar-light mb-0"></nav>
{% endblock %} {% block content %}

<h1>REQUERIMIENTOS NO FUNCIONALES ESPECIFICOS</h1>

<br>
{% if projects %}
<h2>REQUERIMIENTOS NO FUNCIONALES SIN ESPECIFICAR</h2>
{% endif %}

{% for requeriment in requeriments %}
<table>
<tr>
<td><label><b>TITULO</b></label></td>
<td>{{requeriment.title}}</td>
</tr>
<tr>
<td><label><b>DESCRIPCION</b></label></td>
<td>{{requeriment.description}}</td>
</tr>
<tr>
<td><label><b>PRIORIDAD</b></label></td>
<td>{{requeriment.priority}}</td>
</tr>
<tr>
<td><label><b>ESTADO</b></label></td>
<td>{{requeriment.state}}</td>
</tr>
<tr>
<td><label><b>COSTO</b></label></td>
<td>{{requeriment.cost}}</td>
</tr>
<tr>
<td><label><b>TIPO</b></label></td>
<td>{{requeriment.type_r}}</td>
</tr>
<tr>
<td><label><b>COMENTARIOS</b></label></td>
<td>{{requeriment.comments}}</td>
</tr>
</tr>
<tr>
<td><label><b></b></label></td>
<td><a href="{% url 'snfr' requeriment.id %}">Especificar</a></td>
</tr>

</table>
<br><br>
{% empty %}
<h3>Todos los requerimientos no funcionales fueron especificados</h3>
{% endfor %}

{% if specifications %}
<h2>REQUERIMIENTOS NO FUNCIONALES ESPECIFICADOS</h2>
{% endif %}
<br><br>
{% for specification in specifications %}
<table>
<tr>
<td><label><b>TITULO</b></label></td>
<td>{{specification.title}}</td>
</tr>
<tr>
<td><label><b>DESCRIPCION</b></label></td>
<td>{{specification.description}}</td>
</tr>
<tr>
<td><label><b>PRIORIDAD</b></label></td>
<td>{{specification.priority}}</td>
</tr>
<tr>
<td><label><b>ESTADO</b></label></td>
<td>{{specification.state}}</td>
</tr>
<tr>
<td><label><b>COSTO</b></label></td>
<td>{{specification.cost}}</td>
</tr>
<tr>
<td><label><b>TIPO</b></label></td>
<td>{{specification.type_r}}</td>
</tr>
<tr>
<td><label><b>SUB-TIPO</b></label></td>
<td>{{specification.sub_type}}</td>
</tr>

<tr>
<td><label><b>COMENTARIOS</b></label></td>
<td>{{specification.comments}}</td>
</tr>

<tr>
<td><label></label></td>
<td><a href="{% url 'fnfr' specification.rnf.id %}">Archivos</a></td>
</tr>
</tr>

</table>
<br><br>
{% empty %}
<h3>No hay requerimientos no funcionales especificados</h3>
{% endfor %}
<br><br>
{% for user in users %}
<a href="{% url 'no_functional_requeriments' user.project.id %}">Volver</a>
{% endfor %}
<br>
<a href="{% url 'welcome' %}">Inicio</a>

{% endblock %}