{% extends 'core/base.html' %} 

{% block topbar %}
<!-- Topbar -->
<nav
  class="navbar navbar-light mb-0"></nav>
{% endblock %} 

{% block content %}
<div class="col-xl-10 mx-auto">
  <div class="card border-bottom-primary py-2">
    <h6 class=" text-lg font-weight-bold text-primary text-lg-center">Crear nuevo proyecto</h6>
  </div>
</div>
 
  <div class="col-xl-10 mx-auto">
  <div class="card-body">
    <form action="" method="POST">
      {% csrf_token %}
      
        <div class="card border-left-primary shadow h-100 py-1">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-lg font-weight-bold text-primary mb-3"
                >
                  Nombre
                </div>
                <div class="h5 mb-4 font-weight-bold text-gray-800">
                  {{form.title}}
                </div>
                <div
                  class="text-lg font-weight-bold text-primary mb-3"
                >
                  Descripción
                </div>
                <div class="h5 mb-4 font-weight-bold text-gray-800">
                  {{form.description}}
                </div>
                </hr>
                <button type="submit" class="btn btn-success btn-icon-split">
                  <span class="icon text-white-50">
                    <i class="fas fa-check"></i></span
                  ><span class="text">Guardar</span>
                </button>
                </form>
                

                <a href="{% url 'welcome' %}" class="btn btn-light btn-icon-split"><span class="icon text-gray-600"><i class="fas fa-arrow-left"></i></span><span class="text">Volver</span></a>
              </div>
            </div>
          </div>        
     
</div>    
  </div>
</div>

{% endblock %}
