{% extends 'core/base.html' %} 

{% block topbar %}
<!-- Topbar -->
<nav
   class="navbar navbar-light mb-0"
></nav>
{% endblock %} 

{% block content %}
<div class="col-xl-10 mx-auto">
  <div class="card border-bottom-info shadow h-100 py-2">
    <h6 class="m-3 font-weight-bold text-info text-uppercase text-lg-center">Proyectos</h6>
  </div>
</div>
<br>
<div class="col-xl-10 mx-auto">
  <div class="card border-left-info shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div
            class="text-xs font-weight-bold text-primary text-uppercase mb-4"
          >
            {% for proj in project %}
            <a
              class="btn btn-light btn-icon-split "
              href="{% url 'project' proj.id %}"
            >
              <span class="icon text-white-50">
                <i class="fas fa-archive text-gray-600"></i>
              </span>
              <span class="text font-weight-bold" style="color: #36b9cc;" >{{ proj.title }}</span>
            </a></br></br>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-10 mx-auto">
<br>
<a class="btn btn-primary btn-icon-split" href="{% url 'new_project' %}"
  ><span class="icon text-white-50">
    <i class="fas fa-plus"></i>
  </span>
  <span class="text">Añadir proyecto</span></a
>

</div>
{% endblock %}
