{% extends 'core/base.html' %}
{% block topbar %}
<!-- Topbar -->
<nav class="navbar navbar-light mb-0"></nav>
{% endblock %} {% block content %}
<h1> NUEVO REQUERIMIENTO NO FUNCIONAL</h1>
<form action="" method="POST">
 {% csrf_token %}
<table>

<tr>
<td><label><b>TITULO</b></label></td>
<td>{{form.title}}</td>
</tr>
<tr>
<td><label><b>DESCRIPCION</b></label></td>
<td>{{form.description}}</td>
</tr>
<tr>
<td><label><b>Tipo de requerimiento no funcional</b></label></td>
<td>{{form.type_r}}</td>
</tr>
<tr>
<td><label><b>PRIORIDAD</b></label></td>
<td>{{form.priority}}</td>
</tr>
<tr>
<td><label><b>ESTADO</b></label></td>
<td>{{form.state}}</td>
</tr>
<tr>
<td><label><b>COSTO</b></label></td>
<td>{{form.cost}}</td>
</tr>
<tr>
<td><label><b>COMENTARIOS</b></label></td>
<td>{{form.comments}}</td>
</tr>

<tr>
  <center> <td> <button type="submit">Send</button></td></center>
</tr>
</table>

</form>
{% for project in projects %}
<a href="{% url 'no_functional_requeriments' project.id %}">Volver</a>
{% endfor %}
<br>
<a href="{% url 'welcome'  %}">Inicio</a>
{% endblock %}